# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.lst

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 3ds
*.elf
*.cia
*.3dsx
*.smdh
*.t3x
*.bin
*.ips
*.3gx
[Bb]uild
out
luma
target

# region file from script to say what region of code.bin you have
*.region

# VSCode
.vscode

# Publish
.DS_Store
